<li> 
  <%= link_to "New", '/note_files/new' %>
</li>
<li> 
  <%= link_to "My Files...", '/my_files' %> 
</li>
<li> 
  <a class = "disabled-link"> Save </a> 
</li>
<!--                 <li> 
  <a class = "disabled-link"> Save As... </a>
</li> -->
<!-- <li> 
  <a class = "disabled-link"> Save All </a>
</li> -->
<hr style="width: 77%; height: 0em; background: #fff; margin: 10px auto;">
<li> 
  <a class = "disabled-link"> Close Active File</a> 
</li>
<!--                 <li> 
  <a class = "disabled-link"> Revert File </a>
</li> -->
<li> 
  <a class = "disabled-link"> Close All Files </a> 
</li>
<hr style="width: 77%; height: 0em; background: #fff; margin: 10px auto;">
<li>
  <%= link_to "Demo Tutorial", "https://youtu.be/z7327Io0PHE" %>
</li>