<li> 
  <%= link_to "Save", '#', onclick: "saveFile()" %> 
</li>
<!-- <li> 
  <%# link_to "Save As...", '#' %> 
</li> -->
<li> 
  <%= link_to "Save All", '#' %> 
</li>
<hr style="width: 77%; height: 0em; background: #fff; margin: 10px auto;">
<li>
  <%= link_to "Close", '#', onclick: "closeFile()" %>
</li>
<!-- <li>
  <%# link_to "Revert File", '#' %>
</li> -->
<li>
  <%= link_to "Close All Files", '/note_files/close_all'%>
</li>