<div class = "newspaper">
  <% @files.each_with_index do |file, index| %>
    <div
      <% if index.even? %>
       class="file-even"
      <% else %>
        class="file-odd"
      <% end %>
    >
    <span class ="small-text"> <%= file.name %> </span>
    </div>
  <% end %>
</div>