<div class = "newspaper" id ="filesNewspaper"
  ng-controller="noteFilesCtrl"
  ng-init="setup()"
  my-main-directive 
  >
    <div ng-repeat="noteFile in noteFiles" 
      ng-class="$index%2==0? 'file-even' : 'file-odd'" 
      ng-attr-id="{{'file_line'+$index}}"
      my-repeat-directive
      repeat-complete="addTopOrBottomClassesToNewspaper(noteFiles.length)"
      >  
      <span class="filename-checkbox">
        <input type="checkbox" 
          name="files[]" 
          ng-true-value="{{noteFile.id}}" 
          ng-model="noteFile.selected">
      </span>
      <input name="file[]" 
        ng-model="noteFile.name" 
        ng-maxlength="30" 
        class="small-text" 
        ng-attr-id="{{'file_text'+$index}}" 
        ng-click= "unabbrevIfAbbrev(this,$index)" 
        ng-change= "renameFile($index)" ng-model-options="{ updateOn: 'blur' }" ng-blur="abbrevIfTextOverflow(this.id,$index)">
      <!--  -->
      <!-- updateOriginalFileName(this,$index) -->
    </div>

</div>