<div>
  <uib-tabset active="active">
    <uib-tab 
    ng-repeat="file in files track by $index" 
    heading="{{file.name}}"
    ng-if="file.file_open">
      <div id = "{{'file'+$index}}" class="matrix-labels-controls-container">
        <div>
          <%= render "/note_files/workspace_file" %>
        </div>
        <div class="play-control-container">
          <div class="btn btn-primary play-control-button play-control-button-center"
          ng-click="playFile(file)">
            <%= image_tag "play-button.png", class: 'play-button-image'%>
          </div>
        </div>
      </div>
      <script ng-if="false">
      matrix_div_created = true;
      window.adjustMatrixMaxHeightToWindowHeight(50);
      </script>
      </div>  
    </uib-tab>
  </uib-tabset>
</div>