<ng-form action="/note_files/{{file.id}}" id="note-file-form{{$index}}" method="patch">
  <table class="division-table">
    <tr class="division-marker-row">
      <td width="2%" class="division-marker-cell"></td>
      <td ng-repeat="beat in allBeatCells track by $index" 
      ng-style="{'width':'2%'}"
      class="division-marker-cell">
        {{beat}}
        <!-- allBeatCells is an array made such that label printed on beat only, otherwise an empty string is printed -->
      </td>
    </tr>
  </table>
  <div class="matrix-table-container">
    <table class="matrix-table">
      <tr ng-repeat="(pitch, divisions) in file.matrix">
        <td width="2%"
        ng-class="{'pitch-marker-top-cell':$first, 'pitch-marker-cell':true, 'pitch-marker-cell-sharp':pitch.indexOf('#')>=0, 'pitch-marker-cell-natural':pitch.indexOf('#')<0 }"> 
          {{pitch}}
        </td>
        <td ng-repeat="(division, divisionValue) in divisions"
        width="2%"
        ng-init="($last && $parent.$last)? drawD3Notes(file) : null"
        ng-click="toggleD3Note(file,pitch,division)"
        class="note-cell">
        <div>
          <div id="{{'file'+file.id+'note'+pitch+'-'+division}}"
          class="note-svg-container-div">
          </div>
          <!-- <input type="checkbox"
          ng-model="divisions[division]" id="{{'note-'+pitch+'-'+division}}"
          ng-click="onlyOnePitchPerStartIndex(file.matrix,pitch,division)"> -->
        </div>
        </td>
      </tr>
    </table>
  </div>
</ng-form>