<ng-form action="/note_files/{{file.id}}" id="note-file-form{{$index}}" method="patch">
  <table class="worktable">
    <tr>
      <td width="2%"></td>
      <td ng-repeat="beat in allBeatCells track by $index" ng-style="{'width':'2%'}">
        {{beat}}
        <!-- allBeatCells is an array made such that label printed on beat only, otherwise an empty string is printed-->
      </td>
    </tr>
    <tr ng-repeat="pitch in pitchesInWorkspace">
      <td> {{pitch}} </td>    
      <td ng-repeat="division in allDivisions">
        <input type="checkbox"
        name="file[notes][{{pitch}}][]"
        ng-true-value="{{division}}" 
        ng-checked="thereIsNoteAtDivisionAndPitch(file,division,pitch)">
      </td>
    </tr>
  </table>
</ng-form>