<div ng-controller = "workspaceCtrl" ng-init="setup()">
  <uib-tabset active="active">
    <uib-tab 
    ng-repeat="file in files track by $index" 
    heading="{{file.name}}"
    ng-if="file.file_open">
      <div id = "{{'file'+$index}}">
        <div class="matrix-labels-controls-container">
          <div class="matrix-divisions-container">
            <%= render "/note_files/workspace_file" %>
          </div>
            <div class="play-control-container">
              <div class="btn btn-primary play-control-button play-control-button-center"
              ng-click="playFile(file)">
                Play
              </div>
            </div>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>