<div ng-controller = "workspaceCtrl" ng-init="setup()">
  <uib-tabset active="active">
    <uib-tab 
    ng-repeat="file in files track by $index" 
    heading="{{file.name}}"
    ng-if="file.file_open">
      <div id = "{{'file'+$index}}">
        <%= render "/note_files/workspace_file"%>
      </div>
    </uib-tab>
  </uib-tabset>
</div>