<div class="table-for-centering" id="angular-div"
  ng-app="appNoteFiles"   
  >
  <div class ="cell-for-centering" 
  >
    <div 
    class="panel panel-primary files-panel "
    >
      <div class="panel-heading">
        <div class="files-panel-title">
        My Files
        </div>
      </div>
      <!-- <div class="files-panel-body-padding"></div> -->
      <div class="panel-body files-panel-body">
        <%= form_tag "/note_files/open", method: 'get', id: "open_rename_or_delete_files_form" do %>
        <%= render "list_of_files"%>
        <% end %>
      </div>
      <!-- <div class="files-panel-body-padding"></div> -->
      <div class="panel-footer files-panel-foot">
        <div class="btn btn-primary file-list-button file-list-button-left" onclick="document.location.href='/'">
          Cancel
        </div>
        <div class="btn btn-primary file-list-button file-list-button-center" onclick="openFiles()">
          Open
        </div>
        <div class="btn btn-primary file-list-button file-list-button-right" onclick="deleteFiles()">
          Delete
        </div>
      </div>
    </div>
  </div>
</div>

