
<div class="table-for-centering">
  <div class ="cell-for-centering" id="insideMidGrid" >
    <div class="panel panel-primary my-panel ">
      <div class="panel-heading">
        <div class="panel-title-custom">
          My Files
        </div>
      </div>
      <div class="panel-body my-panel-body">
        <%= form_tag "/note_files/open_rename_or_delete", method: 'get', id: "open_rename_or_delete_files_form" do %>
        <%= render "list_of_files", files: @files %>
        <% end %>
      </div>
      <div class="panel-footer my-panel-foot">
        <div class="btn btn-primary button-centered" onclick="openFiles()">
          Open
        </div>
      </div>
    </div>
  </div>
</div>