/*
 *= require theme/bootstrap
 *= require theme/full-slider
 *= require theme/bootstrap
 *= require theme/full-slider
 *= require animate
 *= require_tree .
 *= require_self
 */

body {
  padding-top: 50px;
}

.alert-dismissible{
 margin-bottom:0px;
}

.navbar-margin-right{
  margin-right: 5px;
}

.navbar-item-tabs {
  padding-top: 11px !important;
}

.navbar-item-match-tabs{
  padding-top: 13px !important;
  font-size: 14px !important;
  min-width: 80px;
}

.navbar-brand-match-tabs{
  padding-top: 13px !important;
  font-weight: 300;
}
/*.carousel-inner .item .fill .carousel-content{
  word-wrap:break-word;
}*/

.container{
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 5px;
  padding-right: 5px;
  width: auto;
}

 .container .navbar-collapse {
  max-height: none;
 }

.container .navbar-collapse .tab-content .tab-pane {
  background-color: beige;
  /*#3104B4;*/
}

.container .navbar-collapse .tab-content .tab-pane table tr td {
  color: black;
}

.container .navbar-collapse .disabled-link {
  color: grey;
}

.navbar-brand {
  padding: 15px 15px 15px 25px;
 }


.table-for-centering{
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    background: #3104B4;
}

.cell-for-centering {
  float: none;
  padding: auto;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
} 

/*.pad-for-panel{
  
}*/

/*.middle-panel{
  height: 15em !important;
}*/

.files-panel {
  max-height: 520px;
  box-shadow: 3px 3px 10px #333, 0px 2px 10px #444;
  border: none;
  display: inline-block;
}

.create-panel {
  width: 240px;
  display: inline-block;
}

.files-panel-title{
  font-family: 'Open Sans', sans-serif;
  text-shadow: -.275px 0 .01px #CCC, 0 .275px .01px #CCC, .275px 0 .01px #CCC, 0 -.275px .01px #CCC  !important;
  font-size: 17px;
  text-align: center;
  text-shadow: 2px 2px 6px #444;
}

.files-panel-body{ 
  max-height: 400px;
  overflow-y: scroll;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 19px;
  padding-right: 22px;
}

.files-panel-body-padding{
  height: 10px;
}

.create-panel-body{
  min-height: 80px;
}

.create-panel-foot{
  overflow:auto;
}

.files-panel-foot{
  overflow:auto;
  text-align:center;
}

.file-list-button {
  width: 75px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 2px 2px 4px #555555;
  font-size: 15px;
  text-shadow: -.275px 0 .005px #CCC, 0 .275px .005px #CCC, .275px 0 .005px #CCC, 0 -.275px .005px #CCC  !important;
  text-shadow: 1.5px 1.5px 4.5px #444;
}

.file-list-button-left {
  float:left;
  margin-left: 13px;

}

.file-list-button-right {  
  float:right;
  margin-right: 9px;
}

.create-button-left {
  float:left;
  margin-left: 10px;

}

.create-button-right {  
  float:right;
  margin-right: 10px;
}

.button-center{
  display: inline-block;
}

.text-area-small
{
   display: inline-block;
   padding: 4px 4px 4px 4px;
   resize: none;
   max-height: 60px;
   font-family: 'Open Sans', sans-serif;
}