/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require theme/bootstrap
 *= require theme/full-slider
 *= require theme/bootstrap
 *= require theme/full-slider
 *= require_tree .
 *= require_self
 */

/*body {
  padding-top: 50px;
  margin-right: 
}*/
 
.container{
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 5px;
  padding-right: 5px;
  width: auto;
}

.big-pane
 {
  background-color: red;
  min-height: 200px
 }

 .navbar-brand {
  padding: 15px 15px 15px 25px;
 }

 .container .navbar-collapse {
  max-height: none;
 }

 .container .navbar-collapse .tab-content .tab-pane {
  background-color: #3104B4;
}
 .container .navbar-collapse .tab-content .tab-pane table tr td {
  color: white;
}
/*.carousel-inner .item .fill .carousel-content{
  word-wrap:break-word;
}*/