/*// Place all the styles related to the file_references controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

.newspaper {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 0px;
  -webkit-column-rule: 0px;
  position: relative;
  padding: 12px 12px 12px 0px;
  box-shadow: 2px 2px 6px #555555;
  border-radius: 3px;
  overflow-x: scroll;
  max-height: 360px; /* add js for this=% of screen size - navbar - button onresize too*/
  max-width: 450px;
}

.newspaper div {
  display: inline-block;
  max-width: 100%;
/*  word-break: break-all; */
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 8px;
  padding-right: 0px;
  font-size: 24px;
}

.file-even{
  background-color: #A7C0EC;
}

.file-odd{
  background-color: #D3E3F7;
}

.filename-checkbox {
  vertical-align: middle;
}

.filename-checkbox input{
  margin-top: 12px;
/*  margin-left: 12px;*/
  margin-right: 5px;
  float: left;
}

.small-text{
  display: inline-block;
  padding: 2px 4px;
  font-size: 13px; 
  vertical-align:middle;
  border-radius: 3px;
  box-shadow: 2px 2px 6px #555555;
  max-width: 80%;
  border: none;
  max-height: 50px;
  margin: 10px 5px 10px 5px;
}

.file-even .small-text{
  background: #92B1E4;
}

.file-odd .small-text{
  background: #BAD4F9;
}

.file-top{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px; 
}

.file-bottom{
  -moz-border-radius: 0px 3px;
  -webkit-border-radius: 0px 0px 3px 3px ;
  border-radius: 0px 0px 3px 3px;
}
/*hr {
  border-top: 1px solid #fff;
}*/

/*.p-even{
  background-color: #DDDDDD;
}

.p-odd{
  background-color: #CCCCCC;
}*/
