.play-control-container{
  text-align:center;
}
.play-control-button{
  margin: 10px 5px;
}

.play-control-button-center{
  display: inline-block;
}


.division-table, .matrix-table {
  width: 100%;
} 

.division-marker-cell {
  padding-bottom: 5px;
  padding-top: 5px;
}

.division-marker-cell, .pitch-marker-cell {
  color:#626262 !important;
  text-align: center;
}

.matrix-table-container{
  overflow-y: scroll;
  margin-right: 2px;
}

.note-cell{
  border: 1px solid #a2a2a2;
}

.note-svg-container-div{
  text-align: center;
  vertical-align: middle;
}

.note-svg{
  display: block;
  max-height: 95%;
  max-width: 95%;
  margin-left: 3px;
}
/*.tab-pane{
}*/

/*.matrix-labels-controls-containter {
}*/

/*#nav-bar-collapse-1 {
  overflow-y: scroll;
}

.tab-content{
   position: relative;
}*/

/*.tab-pane{
   overflow:scroll;
   height: 560px;
}*/