.play-control-container{
  text-align:center;
}
.play-control-button{
  position: fixed;
  top: 630px;
}

.play-control-button-center{
  display: inline-block;
}

/*#nav-bar-collapse-1 {
  overflow-y: scroll;
}

.tab-content{
   position: relative;
}*/

/*.tab-pane{
   overflow:scroll;
   height: 560px;
}*/